*{
    margin: 0%;
    padding: 0%;
    border: 0%;
}
.logo{
    width:120%;
    display: flex;
    justify-content: right;
    align-items: right;
}
.logo img{
    width: 100%;
    border: 2px solid black;
    border-radius: 30px;
}
header{
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(neha.jpeg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    min-height: 100px;
}
.navbar{
  
   display: flex;
   align-items: center;
   justify-content: end;
   position: sticky;
   top: 0;
}
.nav-list{
display: flex;
float: right;
list-style-type: none;
margin-top: 30px;
margin-right: 60px;
font-size: 17px;
}
.nav-list li{
font-size: 20px;
list-style: none;
 padding: 12px 30px;
 
}
.nav-list li a{
text-decoration: none;
color:white;
padding: 5px 20px;
border:1px solid transparent;
transition: 0.5 ease;
}
.nav-list li a:hover{
    background-color: white;
color:black;
}
.navbar background{
width: 100%;
}
.title{
    position: absolute;
    top: 46%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.title h1{
    color: white;
    font-size: 70px;
}
.frame{
    display: flex;
    height:100%;
    width:100%;
    
}

.frame .right{
   width: 100%;
   background-color:whitesmoke;
}
